.bx--export--info,
.bx--export--status {
  margin-top: 2rem;
}

.bx--export--status {
  padding-bottom: 0.5rem;
}

.bx--export--info__title,
.bx--export--status__title {
  font-size: 0.875rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.bx--export--info__path {
  display: flex;
}

.bx--export--info__path button {
  margin-left: 1rem;
  height: 2.5rem;
  min-height: 2.5rem;
}

.bx--export--info__options,
.bx--export--status__services {
  display: grid;
  grid-template-columns: auto auto;
}
