// Remove a docoracao do link
.bx--side-nav__items a:link {
  text-decoration: none;
}

// Remove espacamento dos itens da SideBar
.bx--side-nav__item.bx--side-nav__item--icon a.bx--side-nav__link {
  padding-left: 2rem;
}

// Remove o espaco entre o icone e o titulo do menu
.bx--side-nav__icon:not(.bx--side-nav__submenu-chevron) {
  margin-right: 1rem;
}

hr {
  width: calc(100% - 1.75rem);
  border: 1px solid var(--cds-ui-03, #e0e0e0);
  border-bottom: 0;
  margin: 0.75rem 0.8125rem;
}

.bx--side-nav__submenu-t1 .bx--side-nav__icon {
  padding-left: 1rem;
}
