$feature-flags: (
  ui-shell: true,
  grid-columns-16: true,
);

@import "carbon-components/scss/globals/scss/styles.scss";

main {
  display: block;
}

@media (min-width: 42rem) {
  .bx--grid--no-gutter {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.bx--content {
  padding: 0;
  margin-top: 3rem;
  margin-left: 3rem;
  //padding: 0.5rem;
  min-height: calc(100vh - 50px);
  background-color: $ui-01;
}

// Remove espacamento dos itens da SideBar
.bx--side-nav__item.bx--side-nav__item--icon a.bx--side-nav__link {
  padding-left: 2rem;
}

// Remove o espaco entre o icone e o titulo do menu
.bx--side-nav__icon:not(.bx--side-nav__submenu-chevron) {
    margin-right: 1rem;
}
